.nav-home {
    width: 100%;
    background: purple;
    height: 77px;
    box-shadow: 4px 3px 2px lightgrey;
    border-radius: 0px 0px 7px 7px;
}

a {
    text-decoration: white;
    color: white;
    margin: 22px;
}

.menu-text {
    direction: rtl;
    padding-top: 20px;

}

